@charset "UTF-8";

.body {
  margin: auto 400px;
  font-size: x-large;
  margin-top: 50px;
}

.btn {
  background: green;
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  margin-top: 50px;
  text-align: center;
}